{% extends 'base.html' %}
{% block title %}
    Морской бой
{% endblock %}
{% block style %}
    <style>
        .battlefield {
            height: 900px;
            width: 900px;
            display: flex;
            flex-direction: column;
        }

        .battle-line {
            display: flex;
            height: 100%;
            width: 100%;
        }

        .battle-unit {
            height: 100%;
            width: 100%;
            border: 1px grey solid;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Скопируй ссылку и отправь другу: </strong> <input readonly="readonly" value="{{ url }}" id="link"/>
        <button class="btn" id="copy">Копировать</button>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="d-flex">
        <div>
            <div class="battlefield" id="player">

            </div>
        </div>
        <div>
            <div class="battlefield" id="enemy">

            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        let isHost = {{ host }};
        const gameId = location.search.split("id=")[1];
        const ws = new WebSocket(`ws://${location.host}/ws/${gameId}/${isHost}/`);

        //Переменные игры
        let playersConnected = false,
            playersReady = 0,
            gameStarted = false;

        const [, side] = /height=(\d+)/gm.exec(location.search);

        $('#copy').on('click', function (e) {
            const linkElement = $('#link');
            linkElement.focus();
            linkElement.select();
            document.execCommand('copy');
            e.target.textContent = 'Скопировано';
        });
        ws.onmessage = ({data}) => {
            data = JSON.parse(data);
            if (data.type === "game_connect") {
                playersConnected = true;
                alert('Игрок подключился. Игра начинается!')
            }
        };
        function createBattlefield(id){
            for (let i = 0; i < side; i++){
                $(id).append(`
                    <div class="battle-line">
                        ${(() => {
                            let res = [];
                            for (let j = 0; j < side; j++){
                                res.push(`
                                    <div class="battle-unit"></div>
                                `)
                            }
                            return res.join('')
                        })()}
                    </div>
                `)
            }
        }
        createBattlefield('#player');
        createBattlefield('#enemy');
    </script>
{% endblock %}